h1, h2, h3, h4, h5, h6 {
    letter-spacing: 5px;
}

.ul {
    display: table; /* keep the background color wrapped tight */
    background-color: orange;
}

#ulpizza {
    display: table; /* keep the background color wrapped tight */
    background-color: orange;
}